/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat";
  font-size: 14pt;
}

header {
  background-size: contain;
  background-repeat: no-repeat;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 0;
  padding-top: calc(3744 / 5616 * 100%);
}

nav {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  padding: 28px 14px 14px;
  font-weight: bold;

  background-size: contain;
  background-repeat: no-repeat;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#trans-shg-logo {
  flex: 0 0 16vw;
  min-width: 180px;
  max-width: 33vw;
  height: auto;
  margin-right: 4vw;
  align-self: center;
}

nav > ul {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}

nav > ul > li {
  float: left;
  margin-right: 2.5vw;
}

nav > ul > li > a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding-bottom: 0.4vw;
  margin-bottom: 1vw;
  border-bottom: 2px solid transparent;
}

nav > ul > li > a:hover {
  color: #f6abb6;
}

nav > ul > li > a:hover,
nav > ul > li > a:active {
  border-bottom: 2px solid #f6abb6;
}

main {
  background-color: rgb(60, 65, 78);
  padding-bottom: 24px;
}

a {
  color: #55cefa;
}

a:hover {
  text-decoration: none;
}

#page-content {
  margin: auto;
  margin-bottom: 24px;
  width: 80%;
  font-size: 14pt;
  padding: 24px;
  background-color: #fff;
  border-bottom: 2px solid #222;
}

#page-content a {
  font-weight: bold;
}

#page-content ol > li {
  padding-bottom: 4pt;
}

#page-content ol > li > em {
  display: block;
  font-weight: bold;
  font-style: normal;
}

#page-content > footer {
  display: none; /* TODO find proper way to align footer at the bottom */
  background: #ccc;
}

.contact-list,
.glossary {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
  overflow: hidden;
}

.contact-list li,
.glossary li {
  float: left;
  margin-right: 8vw;
  width: 20vw;
  min-height: 20vw;
  word-break: break-word;
}

.contact-list li {
  min-height: 20vw;
}

.glossary li {
  min-height: 8vw;
}

.contact-list em,
.glossary em {
  font-weight: bold;
  font-style: normal;
}

#last-update {
  text-align: right;
  font-style: italic;
}

p.annotation {
  font-style: italic;
}

p.emphasized {
  font-weight: bold;
}

main > section:not(:last-child) {
  margin-bottom: 24px;
}

/* ==========================================================================
   Break points (adapted five default breakpoints from Tailwind)

   See https://blog.logrocket.com/css-breakpoints-responsive-design/
   ========================================================================== */

@media (max-width: 640px) {
  #page-content {
    font-size: 12pt;
    padding: 18vw 8vw 8vw 8vw;
    width: 100%;
  }

  #trans-shg-logo {
    align-self: flex-start;
  }

  nav {
    padding: 4vw 4vw 0 4vw;
    flex-direction: column;
  }

  nav > ul {
    display: block;
    padding: 0;
    margin: 4vw 0;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
  }

  nav > ul > li {
    float: left;
    margin-right: 2vw;
  }

  nav > ul > li:nth-child(3) {
    clear: both;
  }

  nav > ul > li > a {
    padding: 2px 4px;
    background-color: rgb(60, 65, 78);
  }

  .contact-list li,
  .glossary li {
    float: left;
    margin-right: 0;
    width: 100%;
    height: auto;
  }

  .contact-list li {
    margin-top: 4vw;
  }

  .glossary li {
    margin-top: 2vw;
  }

  header,
  nav {
    background-image: url("../img/pexels-katie-rainbow-640.jpg");
  }
}

@media (min-width: 641px) {
  header,
  nav {
    background-image: url("../img/pexels-katie-rainbow-768.jpg");
  }
}

@media screen and (min-width: 769px) {
  header,
  nav {
    background-image: url("../img/pexels-katie-rainbow-1024.jpg");
  }
}

@media screen and (min-width: 1025px) {
  header,
  nav {
    background-image: url("../img/pexels-katie-rainbow-1280.jpg");
  }
}

@media screen and (min-width: 1281px) {
  header,
  nav {
    background-image: url("../img/pexels-katie-rainbow-1536.jpg");
  }
}

@media screen and (min-width: 1537px) {
  header,
  nav {
    background-image: url("../img/pexels-katie-rainbow-5616.jpg");
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
