<template id="wiki-content">
  <section>
    <h1>Wiki</h1>

    <em> Hier entsteht künftig noch ein FAQ zum Thema Transgender. </em>
  </section>

  <section>
    <h2>Glossar für queere Begriffe</h2>

    <ul class="glossary">
      <li>
        <em>Asexuell & Aromantisch</em>
        <p>
          Keine sexuelle bzw. romantische Anziehung Auch: ace (engl. für "Ass")
          bzw. Aro
        </p>
      </li>
      <li>
        <em>Bei Geburt zugewiesenes Geschlecht </em>
        <p>
          Aufgrund körperlicher Merkmale wird bei oder vor der Geburt dem Baby
          ein Geschlecht zugewiesen, basierend auf der Idee eines biologischen
          Geschlechts. Identifiziert sich die Person später ausschließlich mit
          diesem Geschlecht, ist sie cis, ansonsten ist sie trans. Auch:
          Assigned gender at birth (engl., Abkürzung: agab)
        </p>
      </li>
      <li>
        <em>Biologisches Geschlecht</em>
        <p>
          Veraltete Vorstellung, dass körperliche Merkmale wie Hormone,
          Chromosomen und Anatomie das Geschlecht eines Menschen festlegen und
          eindeutig einer von zwei Kategorien zugeordnet werden können (männlich
          und weiblich). Diese Vorstellung trifft auf unterschiedliche Arten z.
          B. auf inter und trans Personen nicht zu.
        </p>
      </li>
      <li>
        <em>Bisexuell & Biromantisch </em>
        <p>
          Sexuelle bzw. romantische Anziehung zu zwei oder mehr Geschlechtern.
          Beispiel: Ein Mann, der Anziehung zu sowohl Frauen als auch Männern
          verspürt. Auch: bi Siehe auch: pan
        </p>
      </li>
      <li>
        <em>Cis</em>
        <p>
          Eine Person, die sich ausschließlich mit dem Geschlecht identifiziert,
          das ihr bei der Geburt zugewiesen wurde. Beispiel: Eine Frau, der bei
          der Geburt weiblich zugewiesen wurde. Auch cisgeschlechtlich oder
          cisgender Gegenteil von: trans
        </p>
      </li>
      <li>
        <em>Deadname</em>
        <p>
          Wechselt eine Person aufgrund ihrer Geschlechtsidentität ihren Namen,
          wird ihr alter, bei der Geburt zugewiesener Name als "Deadname" (engl.
          für "Toter Name") bezeichnet. Dieser Name sollte nur in Ausnahmefällen
          verwendet werden, zum Beispiel um ein unfreiwilliges Outing zu
          vermeiden.
        </p>
      </li>
      <li>
        <em>Geschlechtsidentität</em>
        <p>
          Bezeichnet das Geschlecht, dem eine Person sich selbst identifiziert.
          Dieses Geschlecht muss nicht dem bei der Geburt zugewiesenen
          Geschlecht entsprechen.
        </p>
      </li>
      <li>
        <em>Heterosexuell & Heteroromantisch </em>
        <p>
          Sexuelle bzw. romantische Anziehung zu einem anderen Geschlecht.
          Beispiel: Ein Mann, der Anziehung zu Frauen verspürt. Auch: hetero
        </p>
      </li>
      <li>
        <em>Homosexuell & Homoromantisch </em>
        <p>
          Sexuelle bzw. romantische Anziehung zum gleichen Geschlecht. Beispiel:
          Ein Mann, der Anziehung zu Männern verspürt. Auch: gay (engl.) Siehe
          auch: lesbisch, schwul
        </p>
      </li>
      <li>
        <em>Inter</em>
        <p>
          Eine Person, deren körperliche Geschlechtsmerkmale nicht der
          Normvorstellung von weiblichen oder männlichen Körpern entsprechen.
          Das kann auf anatomischer, genetischer und/oder hormoneller Ebene
          sein. Intergeschlechtlichkeit kann bei der Geburt oder in der Pubertät
          oder auch erst im erwachsenen Alter (z.B: bei Kinderwunsch) entdeckt
          werden. Beispiel: Eine Person mit XY-Chromosomen ("männlich") und
          hohem Östrogenspiegel ("weiblich"). Durch die große Vielfalt wird hier
          auch von Variationen der Geschlechtsmerkmale gesprochen. Gegenteil
          von: peri Auch: intergeschlechtlich oder (veraltet, missverständlich &
          abwertend) intersex
        </p>
      </li>
      <li>
        <em>Lesbisch</em>
        <p>
          Eine homosexuelle und/oder homoromantische Frau wird auch als lesbisch
          bzw. eine Lesbe bezeichnet.
        </p>
      </li>
      <li>
        <em>LGBTQIA+ </em>
        <p>
          Steht für Lesbisch, Schwul (engl. "Gay"), Bi, Trans, Queer, Inter,
          Asexuell/Aromantisch/Agender. Das Plus steht für andere queere
          Identitäten, die in der Abkürzung nicht explizit genannt werden. Hier
          gibt es viele Variationen, z. B. LSBTQIA, LGBTQIA+, LGBTIQ, LGBT
        </p>
      </li>
      <li>
        <em>Misgendern</em>
        <p>
          Bedeutet, dass eine Person (absichtlich oder unabsichtlich) einem
          falschen Geschlecht zugeordnet wird. Beispiel: Den Deadname oder nicht
          die richtigen Pronomen für eine Person zu verwenden. Kann für
          Betroffene schmerzhaft sein und ist möglichst zu vermeiden.
        </p>
      </li>
      <li>
        <em>Neopronomen</em>
        <p>
          Wortneuschöpfungen, genutzt als Pronomen von Personen, die sich mit
          den "traditionellen" Pronomen "sie" und "er" nicht identifizieren (z.
          B. manche nicht-binäre Personen). Beispiel: "dey" und "deren" im Satz:
          "Dey geht in deren Haus".
        </p>
      </li>
      <li>
        <em>Nicht-binär </em>
        <p>
          Eine Person, die sich nicht oder nicht ausschließlich mit einer der
          binären Geschlechtsidentitäten (Mann, Frau) identifiziert. Nicht-binär
          ist kein "drittes Geschlecht", sondern ein Überbegriff für eine
          Vielzahl von Geschlechtsidentitäten. Beispiele: Agender (kein
          Geschlecht), bigender (mehrere Geschlechter), genderfluid (wechselnde
          Geschlechter) Auch: genderqueer, (engl.) non-binary oder enby
        </p>
      </li>
      <li>
        <em>Outing</em>
        <p>
          Bekenntnis zu einer romantischen oder sexuellen Orientierung oder
          Geschlechtsidentität. Beispiel: "Mama, Papa, ich bin schwul". Nach
          diesem Prozess bezeichnet man die Person als out oder geoutet. Auch:
          Coming out
        </p>
      </li>
      <li>
        <em>Pansexuell & Panromantisch </em>
        <p>
          Sexuelle bzw. romantische Anziehung zu allen Geschlechtern. Beispiel:
          Ein Mann, der Anziehung zu Menschen unabhängig deren Geschlecht
          verspürt. Auch: pan Siehe auch: bi
        </p>
      </li>
      <li>
        <em>Pronomen</em>
        <p>
          Kurze Worte, mit denen man im Satz den Namen einer Person ersetzt,
          wenn man über sie redet (3. Person). Beispiel: "er" und "sein" im
          Satz: "Er geht in sein Haus". Siehe auch: Neopronomen
        </p>
      </li>
      <li>
        <em>Peri</em>
        <p>
          Eine Person, deren angeborene körperlichen Merkmale der Vorstellung
          eines eindeutigen biologischen Geschlechts entsprechen. Beispiel: Eine
          Person mit XY-Chromosomen ("männlich"), hohem Testosteronspiegel
          ("männlich"), etc. Gegenteil von: inter Auch: endo oder dya
        </p>
      </li>
      <li>
        <em>Queer</em>
        <p>
          Sammelbegriff für Menschen außerhalb der romantischen, sexuellen
          und/oder geschlechtlichen Erwartungen der Gesellschaft. Siehe auch:
          LGBTQIA+
        </p>
      </li>
      <li>
        <em>Romantische Orientierung </em>
        <p>
          Beschreibt, ob und für welche Menschen jemand romantische Gefühle
          ("Verliebtheit") haben kann, oft auf Basis ihres Geschlechts. Die
          romantische Orientierung muss sich nicht mit der sexuellen
          Orientierung decken, das heißt eine Person kann z. B. homosexuell und
          aromantisch sein.
        </p>
      </li>
      <li>
        <em>Sexuelle Orientierung </em>
        <p>
          Beschreibt, ob und für welche Menschen jemand sexuelle Anziehung
          verspüren kann, oft auf Basis ihres Geschlechts. Die sexuelle
          Orientierung muss sich nicht mit der romantischen Orientierung decken,
          das heißt eine Person kann z. B. homosexuell und aromantisch sein.
        </p>
      </li>
      <li>
        <em>Schwul</em>
        <p>
          Ein homosexueller und/oder homoromantischer Mann wird auch als schwul
          bezeichnet.
        </p>
      </li>
      <li>
        <em>Trans</em>
        <p>
          Eine Person, die sich nicht oder nicht ausschließlich mit dem
          Geschlecht identifiziert, das ihr bei der Geburt zugewiesen wurde.
          Beispiel: eine Frau, der bei der Geburt männlich zugewiesen wurde.
          Gegenteil von: cis Auch: transgeschlechtlich, transident, transgender
          oder (veraltet, missverständlich & abwertend) transsexuell
        </p>
      </li>
      <li>
        <em>Variationen der Geschlechtsmerkmale </em>
        <p>Synonym zu inter. Auch: VdG</p>
      </li>
    </ul>
  </section>
</template>
