---
layout: layouts/base.njk
title: 'Gruppenregeln — Trans* SHG Linz'
eleventyNavigation:
  key: Gruppenregeln
  title: Gruppenregeln
  order: 2
---

<section>
  <h1>Gruppenregeln der Trans<span class="inclusion-star">*</span> SHG Linz</h1>

  <em>Stand: 11. August 2024</em>

  <ol>
    <li>
      <em>
        Alle Dinge, die im Rahmen der Selbsthilfegruppe besprochen werden, sind
        strikt vertraulich zu behandeln! Was in der Gruppe gesagt wird, bleibt
        auch in der Gruppe!
      </em>
    </li>
    <li>
      <em>
        Transphobie, Rassismus, Behindertenfeindlichkeit, Frauenfeindlichkeit
        oder ähnliche diskriminierende Ansichten haben in der Gruppe nichts
        verloren!
      </em>

      Während saloppe Ausdrucksweisen völlig in Ordnung sind und Wortmeldungen
      auch nicht immer ganz politisch korrekt ablaufen müssen, sind dennoch
      jegliche Aussagen mit rassistischem oder gar transphobem Unterton
      tunlichst zu unterlassen! Weder pauschalisierende Aussagen über
      Menschengruppen ("Die Ausländer sind alle...") noch abwertende Aussagen
      über die Geschlechtsidentität oder Geschlechtsausdruck eines Teilnehmenden
      werden toleriert! Letzteres gilt insbesondere in Bezug auf nicht-binäre
      Identitäten. Dazu zählen auch reaktionäre Anschauungen, die auch unter dem
      Begriff „trans medicalism" bekannt sind, die besagen, dass man nur
      wirklich trans sei, wenn man auch geschlechtsangleichende Maßnahmen
      anstrebt. Wer diese Ansicht teilt und diese Selbsthilfegruppe besucht,
      sollte sie also besser für sich behalten. Gleichermaßen sollte es
      selbsterklärend sein, dass absichtliches Misgendern oder Deadnaming ein
      klares No-Go ist.
    </li>
    <li>
      <em>
        Es gilt die Identität(en), Entscheidungen, Erfahrungen und Gefühle
        anderer zu respektieren und sie nicht einfach in Frage zu stellen oder
        versuchen sie wegzureden.
      </em>

      Dies gilt ganz besonders bei physischen und psychischen Gewalterfahrungen
      und dem Erfahren von Diskriminierung. Personen, die diese Themen offen in
      der Runde ansprechen, machen sich dadurch oft sehr verletzlich und daher
      ist es von äußerster Wichtigkeit, dass diesem Mut nicht mit Ignoranz oder
      gar Unverständnis, sondern mit aufrichtigem Mitgefühl begegnet wird. Nur
      so kann die Selbsthilfegruppe auch ein Safer Space sein, um über seine
      Probleme offen und möglichst ohne Hemmungen sprechen zu können. Besonders
      das Herunterspielen und Verharmlosen von Gewalterfahrungen kann Betroffene
      retraumatisieren, was den Sinn dieser Selbsthilfegruppe völlig
      konterkariert. Es ist auch unangemessen anderen Teilnehmenden
      Lösungsansätze, die für einen selbst gut funktionieren oder funktioniert
      haben, aufzwingen zu wollen - seien sie religiöser oder säkularer Natur.
      Das Gleiche gilt auch für alle Hobbypsycholog<span
        class="generic-masculine-prefix"
        >en</span
      ><span class="gender-prefix">innen</span>: andere Teilnehmende einfach
      aufgrund bestimmter Verhaltensmuster oder Symptomatiken unaufgefordert zu
      diagnostizieren (sei es jetzt mit ADHS, Autismus oder anderem) ist nicht
      nur sehr unhöflich, sondern auch durchaus anmaßend auch wenn es nur gut
      gemeint ist.
    </li>
    <li>
      <em
        >Diese Gruppe ist nicht dafür da um nach einer Beziehung oder sexuellen
        Erfahrungen zu suchen.</em
      >
      Jegliche sexuellen bzw. romantischen Annäherungsversuche sind daher zu
      unterlassen! Dies gilt sowohl für transidente als auch cis Personen!
    </li>
    <li>
      <em>Die Teilnahme ist nur in nüchternem Zustand erlaubt.</em>
      Sollte eine Person in betrunkenem Zustand oder unter Einfluss illegaler
      Drogen zu einem Treffen erscheinen, wird diese gebeten werden wieder du
      gehen! Damit sind ausdrücklich *nicht* ärztlich verordnete Medikamente wie
      zB Ritalin bei ADHS, Antidepressiva oder ähnliches gemeint, selbst wenn
      diese die Verkehrstüchtigkeit einschränken können. Moderater Alkoholkonsum
      ist beim gemeinsamen Zusammensitzen beim Wirten nach der Selbsthilfegruppe
      natürlich erlaubt, allerdings ist auch hier darauf zu achten sich nicht so
      zu betrinken, dass es zu auffälligem Sozialverhalten führt.
    </li>
    <li>
      <em>
        Es spricht grundsätzlich immer nur die Person, die in der Runde gerade
        das Rederecht hat.
      </em>

      Es sei denn, es handelt sich explizit um eine offene Runde, wo sich alle
      einfach zu Wort melden können (das macht eventuell am Ende des Treffens
      Sinn, wenn schon alle einmal dran waren). Getratsche untereinander,
      während jemand gerade spricht, ist sehr unhöflich und störend und daher zu
      unterlassen. Natürlich ist es in Ordnung auf Gesagtes unmittelbar zu
      Antworten (zB wenn eine Person auf der Suche nach medizinischen Kontakten
      ist), allerdings sollte sich diese Wortmeldung dann auch direkt auf das
      Gesagte beziehen und nicht vom eigentlichen Thema ablenken oder in einen
      Monolog ausarten. Sollte bei einem Thema plötzlich eine wilde Diskussion
      ausbrechen, ist es meist besser, die Runde vorher noch zu Ende zu bringen
      und das Thema anschließend noch einmal in einer offenen Runde zur
      Diskussion zu stellen. So kann sichergestellt werden, dass alle ihre
      Redezeit hatten, ohne dabei wichtige Themen unter den Tisch fallen zu
      lassen.
    </li>
    <li>
      <em>
        Niemand ist verpflichtet, aktiv an der Gruppe teilzunehmen. Was die
        Teilnehmenden mit der Gruppe teilen und in welchem Ausmaß obliegt
        alleine ihnen.
      </em>

      Üblicherweise gibt es zu Beginn des Treffens eine kleine Vorstellrunde,
      aber sowohl das Nennen des eigenen Namens als auch der verwendeten
      Pronomen ist optional. Alle Teilnehmenden dürfen so anonym bleiben, wie
      sie es wünschen.
    </li>
    <li>
      <em>
        Alle Teilnehmenden sollten etwa gleich lange die Chance bekommen, reden
        zu dürfen.
      </em>

      Während es Sinn macht und auch erwünscht ist, zurückhaltenderen oder
      schüchternen Personen mehr Raum zu geben und sie zu ermutigen mehr aus
      sich herauszugehen, gilt es umgekehrt für sehr redefreudige Teilnehmende
      etwas auf die Zeit zu achten. Sofern es sich nicht um eine offene Runde
      handelt, sollte sich eine Wortmeldung auf maximal 5-7 Minuten beschränken,
      da sonst besonders bei besser besuchten Treffen nicht mehr genug Redezeit
      für alle anderen übrig bleibt.
    </li>
    <li>
      <em>
        Diese Gruppe steht grundsätzlich allen Menschen offen, ungeachtet ihrer
        Geschlechtsidentität oder sexuellen Orientierung - wir sind eine
        inklusive Selbsthilfegruppe!
      </em>

      Dadurch sind wir auch offen für alle, die überlegen, ob sie trans sind
      oder nicht, und geben gerne Unterstützung bei der Selbstfindung. Darüber
      hinaus kann es für manche auch Sinn machen, am Anfang Begleitpersonen zur
      Unterstützung mitzunehmen. Gleichzeitig ist es wichtig zu betonen, dass
      Teilnehmende die sich klar als cis-geschlechtlich identifizieren den
      anderen in der Gruppe beim Reden den Vortritt lassen sollten, sodass die
      wesentlichen Themen auch besprochen werden können. Der eigentliche Zweck
      der Gruppe ist Hilfe zur Selbsthilfe und Austausch unter
      transgeschlechtlichen bzw. möglicherweise transgeschlechtlichen Menschen
      und nicht die Aufklärung von cis Personen zum Thema transgender. Für
      diesen Zweck sollten eigens dafür vorgesehene Treffen vereinbart werden,
      damit der normale Ablauf der Selbsthilfegruppe dadurch nicht gestört wird.
    </li>
    <li>
      <em>
        Punkte 1 bis 4 gelten auch beim gemütlichen Zusammensitzen der
        Selbsthilfegruppe beim Wirt!
      </em>
    </li>
    <li>
      <em>
        Bei Verstoß gegen diese Regeln gibt es je nach Schweregrad eine
        Verwarnung. Bei Nichtbeachtung behält sich die Gruppenleitung vor,
        Teilnehmende aus der Gruppe auszuschließen.
      </em>

      Ob ein wiederholter Verstoß gegen die Regeln zu einem Ausschluss führt,
      hängt immer vom konkreten Fall ab. Während es bei Verstößen gegen die
      Rededisziplin bei einer Ermahnung bleiben wird, sollte man bei
      diskriminierenden oder anderweitig respektlosen Aussagen und
      Verhaltensweisen anderen gegenüber mit weniger Zurückhaltung rechnen.
    </li>
    <li>
      <em>
        Für den Fall, dass sich Teilnehmende während des Treffens unwohl gefühlt
        haben, können sie sich jederzeit an die Gruppenleitung wenden.
      </em>

      Dies kann entweder im persönlichen Gespräch nach Ende des Treffens sein
      oder auch per E-Mail oder per PN auf Discord. Auch konstruktives Feedback
      ist gerne gesehen!
    </li>
  </ol>
</section>
