---
layout: layouts/base.njk
title: 'Impressum — Trans* SHG Linz'
eleventyNavigation:
  key: Impressum
  title: Impressum
  order: 9
---

<section>
  <h1>Impressum</h1>

  <p>
    Trans<span class="inclusion-star">*</span> SHG Linz / Oberösterreich
    Mitglied des Dachverbands Selbsthilfe OÖ
  </p>

  <p>Kontaktperson der Trans<span class="inclusion-star">*</span> SHG:</p>
  <dl>
    <dt>Name:</dt>
    <dd>Lena</dd>
    <dt>Email:</dt>
    <dd>
      <a href="#" class="ml">#</a> (Antwort an Behörden-/Rechtsvertreter binnen
      24 Stunden, an Sonstige in der Regel binnen 72 Stunden - es handelt sich
      um ein ehrenamtliches Projekt.)
    </dd>
  </dl>

  <p>Bei Fragen & Anregungen bitte die angegebene Emailadresse verwenden.</p>
</section>
