---
layout: layouts/base.njk
title: 'Queer in Linz — Trans* SHG Linz'
eleventyNavigation:
  key: Queer in Linz
  title: Queer in Linz
  order: 8
---

<section>
  <h1>Queere Szene in Linz</h1>

  Die queere Szene in Linz ist überschaubar aber es gibt sie. Es gibt eine
  handvoll queere Lokale in Linz und einige Vereine die einen Fokus auf die
  LGBTQI+ Community haben.

  <section>
    <h2>Meetups und Freizeitgruppen</h2>

    <ul class="contact-list">
      <li>
        <em>TIN Treff Linz (TTL)</em>
        <p>
          Unsere Treffen bieten eine gute Möglichkeit sich mit anderen Leuten zu
          treffen und auszutauschen die Teil des Trans-, Inter- und
          Nicht-Binären-Spektrums (TIN) sind. Die Begriffe Trans und Nicht-Binär
          umfassen dabei angefangen von binärer Transidentität über
          nicht-binäre, agender wie auch genderfluide Identitäten bis hin zu
          Leuten die genderqueer oder gender non-conforming sind. Grundsätzlich
          sind selbstverständlich auch alle aus der LGBTQI+ Community herzlich
          willkommen!
        </p>
        <p>
          Eine Anmeldung ist nicht erforderlich und es besteht auch keinerlei
          Konsumzwang.
        </p>
        <p>
          Für Treffen gelten die Regeln 1-4 der
          <a href="/code-of-conduct/">Gruppenregeln der Trans SHG Linz</a>! Lies
          sie dir also bitte kurz durch bevor du zum ersten Mal vorbeischaust.
        </p>
        <p>
          Jeden 1. Freitag im Monat ab 18:00 entweder im
          <em>last by Schachermayer</em>,
          <a href="https://maps.app.goo.gl/bu8AUdEFt7ZkpMrx8" target="_blank"
            >Lastenstraße 42, 4020 Linz</a
          >. (Für mehr Informationen siehe <a href="/meetup/">hier</a>.)
        </p>
        <p>
          Instagram:
          <a href="https://www.instagram.com/tin.treff.linz" target="_blank"
            >@tin.treff.linz</a
          >
        </p>
      </li>
      <li>
        <em>Queerer Spieleabend</em> (veranstaltet von <em>TIN Treff Linz</em>)
        <p>
          Dieser entspannte Spieleabend bietet eine Möglichkeit sich mit
          gleichgesinnten Leuten zu treffen und Spaß zu haben! Grundsätzlich
          sind selbstverständlich alle aus der LGBTQI+ Community herzlich
          willkommen!
        </p>
        <p>
          Anmeldung ist nicht erforderlich und es herrscht auch kein
          Konsumzwang. Gerne können auch eigene Speisen und Getränke mitgenommen
          werden.
        </p>
        <p>
          Bis auf weiteres jeden 4. Samstag im Monat ab 17:00 in der
          <em>KPÖ OÖ</em>,
          <a href="https://maps.app.goo.gl/AdJTuvCV1RV1YCrt5" target="_blank"
            >Melicharstraße 8, 4020 Linz</a
          >.
        </p>
        <p>
          Für Treffen gelten die Regeln 1-4 der
          <a href="/code-of-conduct/">Gruppenregeln der Trans SHG Linz</a>! Lies
          sie dir also bitte kurz durch bevor du zum ersten Mal vorbeischaust.
        </p>
        <p>
          Instagram:
          <a href="https://www.instagram.com/tin.treff.linz/" target="_blank"
            >@tin.treff.linz</a
          >
        </p>
      </li>
      <li>
        <em
          >Trans<span class="inclusion-star">*</span>+Inter<span
            class="inclusion-star"
            >*</span
          >
          Stammtisch Linz</em
        >
        <p>
          Dieser Stammtisch bietet eine Möglichkeit sich mit anderen Leuten zu
          treffen und auszutauschen die Teil des Trans- und Interspektrums sind.
          Der Begriff Trans* umfasst dabei natürlich alle, angefangen von
          binärer Transidentität über nicht-binäre wie auch genderfluide
          Identitäten bis hin zu Leuten die einfach gender non-conforming sind.
          Grundsätzlich sind selbstverständlich alle aus der LGBTQI+ Community
          herzlich willkommen!
        </p>
        <p>
          Eine Anmeldung ist nicht erforderlich und es besteht auch keinerlei
          Konsumzwang.
        </p>
        <p>
          Jeden 3. Donnerstag im Monat ab 19:00 im
          <em>forty nine</em>,
          <a href="https://maps.app.goo.gl/Gs8atz5onhsSfEeX9" target="_blank"
            >Schillerstraße 49, 4020 Linz</a
          >.
        </p>
        <p>
          Instagram:
          <a
            href="https://www.instagram.com/trans.inter.nonbinary.linz/"
            target="_blank"
            >@trans.inter.nonbinary.linz</a
          >
        </p>
      </li>
      <li>
        <em>queer un(d)-fit</em>
        <p>
          Wöchentliche Treffen zum gemeinsamen Spazieren und ev. Sporteln.
          Gestartet wird üblicherweise am Bahnhof Ebelsberg und man geht
          gemeinsam zum Weikerlsee. Am See sind verschiedene Aktivitäten von
          unsportlich bis sportlich möglich. Chillen. Gehen. Laufen. Outdoor
          Fitnessgeräte. Schwimmen. Die Gruppe ist möglichst inklusiv und achtet
          auf den Schutz durch die Community, besonders genderqueerer und/oder
          ungeouteter Personen. Die Treffpunkte werden immer an die Jahreszeit
          und das Wetter angepasst. Daher gibt es eine WhatsApp- und eine
          Signal-Gruppe für die notwendigen Infos über geplante Termine,
          kurzfristige Anpassungen und auch Kontaktmöglichkeiten.
        </p>
        <p>
          Anmeldung ist nicht erforderlich. Bis auf weiteres jeden Dienstag ab
          19 Uhr. Startpunkt ist der Parkplatz vom Bahnhof Ebelsberg bei der
          <a href="https://maps.app.goo.gl/3wotHrcKsNCCZb8E6" target="_blank"
            >Straßenbahnhaltestelle Ebelsberg Bahnhof</a
          >.
        </p>
        <p>
          Ankünfte mit der S-Bahn die um 18:59 Halt macht bei Ebelsberg Bahnhof
          werden noch fix abgewartet. Wenn wer zu spät kommt bitte über die
          Messenger-Dienste (WhatsApp/Signal) melden, ansonsten ist Abmarsch um
          etwa 19 Uhr.
        </p>
        <p>
          Invite-Link zur
          <a href="https://chat.whatsapp.com/JisnghydmqYJUKqC0oflkE"
            >WhatsApp Gruppe</a
          >
          oder
          <a
            href="https://signal.group/#CjQKIJa1bYKGwBv4bgW5Ep8Rfssbj_JWkc65Kvq0aKeDtjd6EhATMfGpL9IntPtc08u0q0XZ"
            >Signal Gruppe</a
          >
        </p>
      </li>
      <li>
        <em>Ladies*Night</em>
        <p>
          Coole Drinks, gute Musik und die beste Gesellschaft. Das Angebot der
          HOSI Linz explizit für Frauen jeglicher sexueller Orientierung sowie
          trans<span class="inclusion-star">*</span>, inter<span
            class="inclusion-star"
            >*</span
          >
          und nicht-binäre Menschen. Die Ladies*Night soll ein Safe Space für
          queere Frauen sein zum gemütlichen Zusammensitzen und Austauschen. Was
          die genaue Ausgestaltung des monatlichen After-Work-Get-Togethers
          anbelangt, wird sich an den Bedürfnissen und Wünschen der
          Besucher<span class="inclusion-star">*</span>innen orientiert: Von
          zwanglosen Teetratschs bis hin zu unterhaltsamen Spieleabenden
          inklusive DJane ist alles möglich. Altersgrenzen gibt es keine: Alle
          Menschen jeden Alters sind herzlich willkommen.
        </p>
        <p>
          Immer am 2. Donnerstag im Monat ab 19:00 im
          <em>forty nine</em>,
          <a href="https://maps.app.goo.gl/Gs8atz5onhsSfEeX9" target="_blank"
            >Schillerstraße 49, 4020 Linz</a
          >.
        </p>
        <p>
          Instagram:
          <a href="https://www.instagram.com/hosilinz/" target="_blank"
            >@hosilinz</a
          >
          /
          <a href="https://www.instagram.com/fortynine_linz/" target="_blank"
            >@fortynine_linz</a
          >
        </p>
      </li>
      <li>
        <em>„cosi hosi" – Der gemütliche Start ins Wochenende.</em>
        <p>
          In gemütlicher Wohnzimmeratmosphäre wird ein abwechslungsreicher Start
          ins Wochenende geschaffen. Die perfekte Gelegenheit, neue Leute
          kennenzulernen, sich mit Freund<span class="inclusion-star">*</span
          >innen zu unterhalten und Spiele zu spielen.
        </p>
        <p>
          Immer am 4. Freitag im Monat ab 18:00 im
          <em>forty nine</em>,
          <a href="https://maps.app.goo.gl/Gs8atz5onhsSfEeX9" target="_blank"
            >Schillerstraße 49, 4020 Linz</a
          >.
        </p>
        <p>
          Instagram:
          <a href="https://www.instagram.com/hosilinz/" target="_blank"
            >@hosilinz</a
          >
          /
          <a href="https://www.instagram.com/fortynine_linz/" target="_blank"
            >@fortynine_linz</a
          >
        </p>
      </li>
      <li>
        <em>Queere Frauen Linz (ehemals Lesbresso)</em>
        <p>
          Frau trifft sich um zu reden, Freundinnen zu treffen oder neue Frauen
          kennenzulernen; vielleicht auch um Ideen zu spinnen für zukünftige
          Aktionen und Veranstaltungen. Eine Kooperation von aFZ - autonomes
          Frauenzentrum Linz und HOSI Linz. Es sind alle erwünscht die sich als
          Frauen identifizieren und gerne Frauen daten bzw. sich noch nicht ganz
          sicher sind. Die Treffen werden flexibel gestaltet.
        </p>
        <p>
          <a href="https://www.hosilinz.at/lesbresso/" target="_blank"
            >https://www.hosilinz.at/lesbresso</a
          >
        </p>
        <p>
          Facebook:
          <a href="https://www.facebook.com/QueereFrauenLinz" target="_blank"
            >www.facebook.com/QueereFrauenLinz</a
          >
        </p>
      </li>
    </ul>
  </section>

  <section>
    <h2>Vereine und Jugendgruppen</h2>

    <ul class="contact-list">
      <li>
        <em>YOUnited</em>
        <p>
          YOUnited ist eine oberösterreichische queere Jugendgruppe für alle
          zwischen 14 und 25. Treffen finden planmäßig alle zwei Wochen Freitags
          statt.
        </p>
        <p>
          <a href="https://younited.cc/" target="_blank">younited.cc</a>
        </p>
        <p>
          Instagram:
          <a href="https://www.instagram.com/younitedlinz/" target="_blank"
            >@younitedlinz</a
          >
        </p>
      </li>
      <li>
        <em>Kiki (HOSI Linz)</em>
        <p>
          Queerer Jugendtreff der HOSI Linz für alle im Alter zwischen 16 und 25
          Jahren! Jeden ersten Freitag im Monat von 18:00 bis 21:00 in der Queer
          Bar „FortyNine" in der Schillerstraße 49, 4020 Linz.
        </p>
        <p>
          <a href="https://www.hosilinz.at/kiki/" target="_blank"
            >www.hosilinz.at/kiki</a
          >
        </p>
        <p>
          Instagram:
          <a href="https://www.instagram.com/kiki.hosilinz/" target="_blank"
            >@kiki.hosilinz</a
          >
        </p>
      </li>
      <li>
        <em>Tanzverein TSC Wechselschritt Linz</em>
        <p>
          Österreichs größter Tanzsportclub für Frauen-, Männer- und nicht
          binäre Paare. Schnuppertraining und Einstieg jederzeit möglich!
        </p>
        <p>Landwiedstraße 65</p>
        <p>4020 Linz</p>
        <p>
          <a href="https://www.tsc-wechselschritt.at" target="_blank"
            >www.tsc-wechselschritt.at</a
          >
        </p>
        <p>
          Instagram:
          <a
            href="https://www.instagram.com/tsc.wechselschritt.linz/"
            target="_blank"
            >@tsc.wechselschritt.linz</a
          >
        </p>
      </li>
      <li>
        <em>Steelcity Snidgets - ASKÖ Quidditch Linz</em>
        <p>Quidditch/Quadball Verein.</p>
        <p>
          <a href="https://snidgets.quidditch-ooe.at" target="_blank"
            >snidgets.quidditch-ooe.at</a
          >
        </p>
        <p>
          Instagram:
          <a href="https://www.instagram.com/steelcitysnidgets" target="_blank"
            >@steelcitysnidgets</a
          >
        </p>
        <p>
          Facebook:
          <a href="https://www.facebook.com/steelcitysnidgets" target="_blank"
            >www.facebook.com/steelcitysnidgets</a
          >
        </p>
      </li>
    </ul>
  </section>

  <section>
    <h2>Jugendzentren</h2>

    <ul class="contact-list">
      <li>
        <em>Jugendkulturbox Ann and Pat</em>
        <p>Lederergasse 7</p>
        <p>4020 Linz</p>
        <p>
          <a href="https://vjf.at/ann-and-pat/" target="_blank"
            >vjf.at/ann-and-pat</a
          >
        </p>
      </li>
      <li>
        <em>Jugendzentrum STUWE</em>
        <p>Steingasse 5</p>
        <p>4020 Linz</p>
        <p>
          <a href="https://www.dioezese-linz.at/stuwe" target="_blank"
            >www.dioezese-linz.at/stuwe</a
          >
        </p>
        <p>
          Instagram:
          <a
            href="https://www.instagram.com/jugendzentrum_stuwe/"
            target="_blank"
            >@jugendzentrum_stuwe</a
          >
        </p>
      </li>
    </ul>
  </section>

  <section>
    <h2>Lokale</h2>

    <ul class="contact-list">
      <li id="gnd">
        <em>Game and Dine</em>
        <p>
          Gaming Café mit einer großen Auswahl an Brett- und Kartenspielen. Kein
          dezidiert queeres Lokal aber ausdrücklich LGBTQI-freundlich und
          beliebtes Lokal in der linzer Szene.
        </p>
        <p>Blumauerstraße 9</p>
        <p>4020 Linz</p>
        <p>
          Instagram:
          <a href="https://www.instagram.com/Game_and_dine" target="_blank"
            >@Game_and_dine</a
          >
        </p>
        <p>
          Facebook:
          <a href="https://www.facebook.com/GameDine" target="_blank"
            >www.facebook.com/GameDine</a
          >
        </p>
      </li>
      <li id="forty-nine">
        <em>forty nine</em>
        <p>Die Queer Bar der HOSI Linz</p>
        <p>Schillerstraße 49</p>
        <p>4020 Linz</p>
        <p>
          <a href="https://www.hosilinz.at/forty-nine" target="_blank"
            >www.hosilinz.at/forty-nine</a
          >
        </p>
      </li>
    </ul>
  </section>
</section>
