---
layout: layouts/base.njk
title: 'Transition — Trans* SHG Linz'
eleventyNavigation:
  key: Transition
  title: Transition
  order: 6
---

<section>
  <h1>Transition</h1>

  <p>
    <b>
      Hinweis: Diese Seite ist noch sehr unvollständig und befindet sich gerade
      erst im Aufbau. Es werden allerdings bereits einige wichtige Themen
      angeschnitten und im Text weiter unten sind Dokumente zu den aktuellen
      Behandlungsempfehlungen verlinkt.
    </b>
  </p>

  <p>
    Grundsätzlich bezeichnet der Begriff <em>Transition</em> im Zusammenhang mit
    trans Personen den Prozess des Übergangs vom zugewiesenen Geschlecht bei der
    Geburt hin zur eigentlichen eigenen Geschlechtsidentität.
  </p>

  <p>
    Dieser Prozess lässt sich grob in zwei Kategorien unterteilen - der sozialen
    Transition und der medizinischen Transition. Während manche trans Personen
    kaum Veränderungen an ihrem bisherigen Lebensstil vornehmen und damit
    zufrieden sind, nehmen wiederum andere große Mühen und Kosten in Kauf um ihr
    Äußeres möglichst an ihr gelebtes Geschlecht anzupassen. An dieser Stelle
    ist wichtig zu betonen, dass es in dieser Hinsicht kein Richtig oder Falsch
    gibt. Jeder Mensch muss frei selbst für sich entscheiden was die eigene
    Transition beinhalten soll oder muss um auch die Chance auf ein erfülltes
    Leben zu haben!
  </p>
  <p>
    Bedauerlicherweise gibt es nach wie vor genug Ärzt<span
      class="generic-masculine-prefix"
      >e</span
    ><span class="gender-prefix">innen</span>, Psycholog<span
      class="generic-masculine-prefix"
      >en</span
    ><span class="gender-prefix">innen</span>/Psychotherapeut<span
      class="generic-masculine-prefix"
      >en</span
    ><span class="gender-prefix">innen</span> etc. die eine sehr stereotype
    Vorstellung von Geschlechterrollen haben und daher dazu tendieren
    transidenten Menschen in enge Rollenbilder zu drängen die für die
    Betroffenen oft als einengend und unauthentisch empfunden werden. Auch
    innerhalb der Transcommunity gibt es einen kleinen aber lauten Teil, der
    Menschen ihr trans-sein abspricht wenn sie sich nicht ausreichend in ihre
    Geschlechterrolle einfügen wollen (zB indem jemand die Hormonersatztherapie
    ablehnt). Diese reaktionäre Geisteshaltung ist unter dem Begriff
    <i>trans medicalism</i> bekannt. Diesen Tendenzen gilt es gemeinsam
    entgegenzuwirken, allerdings zeigt es auch wie wichtig es ist besonders zu
    Beginn der eigenen Transition die richtigen Fachpersonen aufzusuchen um sich
    höchst unerfreuliche Begegnungen und Erfahrungen zu ersparen!
  </p>
  <p>
    Bedauerlicherweise können wir aus rechtlichen Gründen keine medizinischen
    Kontakte hier auf der Seite direkt verlinken, aber wir leiten die
    Kontaktdaten sehr gerne per E-mail weiter! Wenn du weitere Fragen zum
    Transitionsprozess hast und/oder auf der Suche nach medizinischen Kontakten
    bist, komm einfach zu unseren Treffen oder schreib ein E-Mail an
    <a href="#" class="ml">#</a>.
  </p>
</section>
<section>
  <h2>Die soziale Transition</h2>

  <p>
    Die soziale Transition bezieht sich rein darauf, wie die eigene
    Geschlechtsidentität gelebt wird. Dazu zählen vor allem die
    Personenstandsänderung, also die offizielle Änderung des eingetragenen
    Geschlechts sowie die dementsprechende Änderung des Vornamens, sowie
    Veränderungen im Geschlechtsausdruck (engl. <i>gender expression</i>, zB im
    Falle von trans Frauen das Tragen von Make-up und Kleidern, etc.). Ein
    weiterer Aspekt ist auch die Verwendung von Pronomen. Bei binär transidenten
    Personen (also eben trans Personen die sich schlicht nur als Frau oder als
    Mann identifizieren) ist die Angelegenheit klar, während bei nicht-binären
    Personen die Wahl der richtigen Pronomen etwas komplizierter ausfallen kann.
    Während sich im Englischen bei vielen das <i>singular they</i> (they/them)
    etabliert hat, gibt es im Deutschen keine echtes Äquivalent dazu. Die
    meisten verwenden daher er/ihn, sie/ihr oder beides gleichzeitig, während
    manche mittlerweile auch zu übergehen Neopronomen zu verwenden.
  </p>
</section>
<section>
  <h2>Die medizinische Transition</h2>

  <p><i>(Dieser Abschnitt befindet sich leider noch im Aufbau.)</i></p>
</section>
<section>
  <h2>Der Transitionsprozess in Österreich</h2>

  <p>
    Auf der Grafik in dem PDF ist gut dargestellt wie der Prozess in Österreich
    für transidente Menschen grundsätzlich aussieht:
    <a
      href="https://www.sozialministerium.at/dam/jcr:f59fb474-4c35-4924-85a1-9249a7f40aa0/grafik_transsexualismus.pdf"
      target="_blank"
      rel="noopener noreferrer"
      >Empfehlungen für den Behandlungsprozess bei Geschlechtsdysphorie bzw.
      Transsexualismus (Schematische Darstellung) (PDF)</a
    >
  </p>
  <p>
    Allerdings ist der erste Teil für die Personenstandsänderung veraltet -
    mittlerweile reicht bereits eine der drei Diagnostiken (daher ist hier auch
    kein Konsensbeschluss mehr notwendig, siehe
    <a
      href="https://www.linz.at/serviceguide/viewchapter.php?chapter_id=123357"
      target="_blank"
      rel="noopener noreferrer"
      >linz.at - Änderung des Geschlechtseintrages</a
    >).
  </p>
  <p>
    Am einfachsten ist es direkt zu einem Psychotherapeuten zu gehen und sich
    dort die Diagnostik zu holen damit man offiziell als transgender gilt. Wenn
    man die hat kann man sich dann einen Termin am Standesamt am Magistrat Linz
    ausmachen und dort sein Geschlecht und Vornamen ändern lassen. Sie erwarten
    dort, dass man ihnen alle Unterlagen im Vorhinein per Email zuschickt,
    inklusive einem ausgefüllten Antragsformular für die Namensänderung auf dem
    als Änderungsgrund die Transgeschlechtlichkeit angeführt ist - ansonsten
    würde der Spaß nämlich 500€ kosten. Das ganze geht allerdings nur wenn man
    auch die österreichische Staatsbürgerschaft besitzt. Bei der
    Hormonersatztherapie reicht es allerdings wenn man einfach in Österreich
    krankenversichert ist.
  </p>
  <p>
    Auf der Webseite des Sozialministeriums (
    <a
      href="https://www.sozialministerium.at/Themen/Gesundheit/Nicht-uebertragbare-Krankheiten/Psychische-Gesundheit/Transsexualismus-Geschlechtsdysphorie.html"
      target="_blank"
      rel="noopener noreferrer"
      >Transsexualismus/Geschlechtsdysphorie - Empfehlungen für den
      Behandlungsprozess bei Geschlechts-Dysphorie bzw. Transsexualismus</a
    >
    ) ist auch ein PDF verlinkt das den Behandlungsprozess für transidente
    Minderjährige in Österreich auf 10 Seiten genauer beschreibt:
    <a
      href="https://www.sozialministerium.at/dam/jcr:61c72a41-24e1-49c0-8bda-7669c68cdf4f/Transgender_Empfehlungen_KJ_Stand_14.12.2017_final%20mit%20neuer%20ICD-10-Verlinkung.pdf"
      target="_blank"
      rel="noopener noreferrer"
      >Empfehlungen für den Behandlungsprozess bei Geschlechtsdysphorie von
      Kindern und Jugendlichen nach der Klassifikation in der derzeit gültigen
      DSMbzw. ICD-Fassung (PDF)</a
    >
  </p>
  <p>
    Grundsätzlich ist es in Österreich so, dass vor dem 17. Geburtstag eine
    Mastektomie (die bei weitem am häufigsten angestrebte OP bei Transmännern),
    sowie OPs wie Hysterektomie oder die geschlechtsanpassende OP (kurz GaOP, in
    seinem Fall ein Penisaufbau) vor dem 18. Geburtstag rechtlich ausgeschlossen
    sind.
  </p>
  <p><i>(Dieser Abschnitt befindet sich leider noch im Aufbau.)</i></p>
</section>
